vosk-model/* filter=lfs diff=lfs merge=lfs -text
HCLG.fst filter=lfs diff=lfs merge=lfs -text
final.mdl filter=lfs diff=lfs merge=lfs -text
*.fst filter=lfs diff=lfs merge=lfs -text
*.carpa filter=lfs diff=lfs merge=lfs -text
*.mdl filter=lfs diff=lfs merge=lfs -text
rnnlm/word_feats.txt filter=lfs diff=lfs merge=lfs -text
word_feats.txt filter=lfs diff=lfs merge=lfs -text
